<!DOCTYPE html>
<html lang="{{ site.Language.LanguageCode }}" dir="{{ or site.Language.LanguageDirection `ltr` }}">

<head>
  {{ partial "head.html" . }}
  {{ partialCached "css.html" . }}
</head>

<body class="bg-[#faf8f1]">
  <header class="flex justify-between items-center max-w-5xl mx-auto px-4">
    {{ partial "header.html" . }}
  </header>
  <main class="max-w-3xl mx-auto px-4">
    <div class="mt-4 flex items-center gap-4  ">
      <div class="h-24 w-24 shrink-0 rounded-full"><img class="rounded-full"
          src="https://avatars.githubusercontent.com/u/68768186?v=4" alt="nove-b"></div>
      <div>
        <div class="mt-3 mb-1 text-2xl font-medium text-black ">nove-b</div>
        <div class="break-words">個人開発でのプログラミングこそが至高</div>
        <ul class="mt-2 flex gap-2 items-center">
          {{- partial "social_icons.html" -}}
        </ul>
      </div>
    </div>
    {{ block "main" . }}{{ end }}
  </main>
  <footer>
    {{ partial "footer.html" . }}
  </footer>
</body>

</html>