{{ define "main" }}
<div class="flex items-center gap-4  ">
  <div class="h-24 w-24 shrink-0 rounded-full"><img class="rounded-full" src="{{ .Site.Params.profile.avatar }}"
      alt="{{ .Site.Params.profile.name }}"></div>
  <div>
    <div class="mt-3 mb-1 text-xl font-medium text-black ">{{ .Site.Params.profile.name }}</div>
    <div class="break-words text-sm">{{ .Site.Params.profile.bio }}</div>
    <ul class="mt-2 flex gap-2 items-center">
      {{- partial "social_icons.html" -}}
    </ul>
  </div>
</div>
<div class="mt-6 markdown-body introduction">
  {{ .Content }}
</div>

{{ $nowYear := now.Year }}
{{ $allPages := where .Site.RegularPages "Type" "in" (slice "posts" "contribute" "release" "anotherType") }}
{{ $allYears := slice }}
{{ range $allPages }}
{{ $y := .PublishDate.Year }}
{{ if not (in $allYears $y) }}
{{ $allYears = $allYears | append $y }}
{{ end }}
{{ end }}
{{ $sortedYears := sort $allYears "value" "desc" }}

{{ if gt (len $sortedYears) 1 }}
<nav class="mt-10 flex flex-wrap gap-2">
  {{ range $year := $sortedYears }}
  <button type="button" data-year="{{ $year }}"
    class="anchor-button px-3 py-1 border border-gray-300 bg-[#f5f5f5] rounded-full text-sm hover:bg-gray-100 text-gray-600">
    {{ $year }}
  </button>
  {{ end }}
</nav>
{{ end }}

<div class="mt-5 flex flex-wrap gap-2">
  <button type="button" data-type="post"
    class="refine-button px-3 py-1 border border-gray-300 bg-[#f5f5f5] rounded-full text-sm hover:bg-gray-100 text-gray-600">
    Post</button>
  <button type="button" data-type="contribute"
    class="refine-button px-3 py-1 border border-gray-300 bg-[#f5f5f5] rounded-full text-sm hover:bg-gray-100 text-gray-600">
    Contribute</button>
  <button type="button" data-type="release"
    class="refine-button px-3 py-1 border border-gray-300 bg-[#f5f5f5] rounded-full text-sm hover:bg-gray-100 text-gray-600">
    Release</button>
</div>


{{ range $year := $sortedYears }}
<section id="year-{{ $year }}" class="article-list mt-10">
  <h3 class="text-2xl font-semibold mb-4">{{ $year }}</h3>
  <div class="posts relative border-l-2 border-gray-300 pl-6 space-y-6">
    {{ $yearPages := where $allPages "PublishDate.Year" $year }}
    {{ range $yearPages }}
    <article class="relative article-item group {{ .Params.type  | default " post" }}">
      <span
        class="absolute top-0 -left-6 -translate-x-1/2 w-8 h-8 bg-[#f5f5f5] text-white flex items-center justify-center rounded-full text-lg">
        {{ $type := .Params.type | default "post" }}
        {{ if eq $type "contribute" }}

        {{ partial "timeline-github.html" . }}
        {{ else if eq $type "release" }}


        {{ partial "timeline-release.html" . }}
        {{ else }}


        {{ partial "timeline-post.html" . }}
        {{ end }}
      </span>
      <div class="flex items-center gap-2 mb-2">
        <h3>
          {{ $type := .Params.type | default "post" }}
          {{ if eq $type "contribute" }}
          <span class="px-3  py-1  bg-[#f5f5f5]  text-sm hover:bg-gray-100 text-gray-600">Contribute</span>
          {{ else if eq $type "release" }}
          <span class="bg-[#f5f5f5]  text-sm hover:bg-gray-100 text-gray-600">Release
          </span>
          {{ else }}
          <span class="bg-[#f5f5f5]  text-sm hover:bg-gray-100 text-gray-600">Blog</span>
          {{ end }}

        </h3>

        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </div>
      {{ if or (eq $type "contribute") (eq $type "release") }}
      <a href="{{ .Params.link }}" target="_blank" class="block border border-gray-300 rounded-2xl p-4 relative">
        <h2 class="text-lg">
          {{ .Title }}<br /><span class="text-xs text-gray-400">{{ .Params.link }}</span>

        </h2>
        <div class="absolute bottom-2.5 right-2.5">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 36 36"
            style="fill: rgba(89, 99, 110, 1);transform: ;msFilter:;">
            <path d="m13 3 3.293 3.293-7 7 1.414 1.414 7-7L21 11V3z"></path>
            <path d="M19 19H5V5h7l-2-2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5l-2-2v7z">
            </path>
          </svg>
        </div>
      </a>
      {{ else }}
      <a href="{{ .Permalink }}" class="block border border-gray-300 rounded-2xl p-4">
        <h2>
          {{ .Title }}
        </h2>
      </a>
      {{ end }}

    </article>
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}