{{ define "main" }}
<div class="flex items-center gap-4  ">
  <div class="h-24 w-24 shrink-0 rounded-full"><img class="rounded-full"
      src="https://avatars.githubusercontent.com/u/68768186?v=4" alt="nove-b"></div>
  <div>
    <div class="mt-3 mb-1 text-2xl font-medium text-black ">nove-b</div>
    <div class="break-words">個人開発でのプログラミングこそが至高</div>
    <ul class="mt-2 flex gap-2 items-center">
      {{- partial "social_icons.html" -}}
    </ul>
  </div>
</div>
<div class="mt-6 markdown-body introduction">
  {{ .Content }}
</div>

{{ $nowYear := now.Year }}
{{ $allPages := where .Site.RegularPages "Type" "in" (slice "posts" "contribute" "release" "anotherType") }}
{{ $allYears := slice }}
{{ range $allPages }}
{{ $y := .PublishDate.Year }}
{{ if not (in $allYears $y) }}
{{ $allYears = $allYears | append $y }}
{{ end }}
{{ end }}
{{ $sortedYears := sort $allYears "value" "desc" }}

{{ if gt (len $sortedYears) 1 }}
<nav class="mt-10 flex flex-wrap gap-2">
  {{ range $year := $sortedYears }}
  <a href="#year-{{ $year }}"
    class="px-3 py-1 border border-gray-300 bg-[#faf8f1] rounded-full text-sm hover:bg-gray-100 text-gray-600">
    {{ $year }}
  </a>
  {{ end }}
</nav>
{{ end }}


{{ range $year := $sortedYears }}
<section id="year-{{ $year }}" class="mt-10">
  <h3 class="text-2xl font-semibold mb-4">{{ $year }}</h3>
  <div class="posts relative border-l-2 border-gray-300 pl-6 space-y-6">
    {{ $yearPages := where $allPages "PublishDate.Year" $year }}
    {{ range $yearPages }}
    <article class="relative ">
      <span
        class="absolute top-0 -left-6 -translate-x-1/2 w-8 h-8 bg-[#faf8f1] text-white flex items-center justify-center rounded-full text-lg">
        {{ $type := .Params.type | default "post" }}
        {{ if eq $type "contribute" }}
        <i class="fa-brands fa-github text-[#59636e]"></i>
        {{ else if eq $type "release" }}
        <i class="fa-solid fa-rocket text-[#59636e]"></i>
        {{ else }}
        <i class="fa-solid fa-pen-nib text-[#59636e]"></i>
        {{ end }}
      </span>
      <div class="flex items-center gap-2 mb-2">
        <h3>
          {{ $type := .Params.type | default "post" }}
          {{ if eq $type "contribute" }}
          Contribute
          {{ else if eq $type "release" }}
          Release
          {{ else }}
          Blog
          {{ end }}

        </h3>

        {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
        {{ $dateHuman := .Date | time.Format ":date_long" }}
        <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      </div>
      <div class="border border-gray-300 rounded-2xl p-4">
        <h2 class="text-lg ">
          {{ if or (eq $type "contribute") (eq $type "release") }}
          <a href="{{ .Params.link }}" target="_blank">{{ .Title }}<br /><span class="text-xs text-gray-400">{{
              .Params.link }}</span></a>
          {{ else }}
          <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </h2>
      </div>

    </article>
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}