{{ define "main" }}
<div class="flex items-center gap-4  ">
  <div class="h-24 w-24 shrink-0 rounded-full"><img class="rounded-full" src="{{ .Site.Params.profile.avatar }}"
      alt="{{ .Site.Params.profile.name }}"></div>
  <div>
    <div class="mt-3 mb-1 text-xl font-medium text-black ">{{ .Site.Params.profile.name }}</div>
    <div class="break-words text-sm">{{ .Site.Params.profile.bio }}</div>
    <ul class="mt-2 flex gap-2 items-center">
      {{- partial "social_icons.html" -}}
    </ul>
  </div>
</div>
<div class="mt-6 markdown-body introduction">
  {{ .Content }}
</div>

{{ $nowYear := now.Year }}
{{ $allPages := where .Site.RegularPages "Type" "in" (slice "posts" "contribute" "release" "anotherType") }}
{{ $allYears := slice }}
{{ range $allPages }}
{{ $y := .PublishDate.Year }}
{{ if not (in $allYears $y) }}
{{ $allYears = $allYears | append $y }}
{{ end }}
{{ end }}
{{ $sortedYears := sort $allYears "value" "desc" }}

{{ if gt (len $sortedYears) 1 }}
<nav class="mt-10 flex flex-wrap gap-2">
  {{ range $year := $sortedYears }}
  <button type="button" data-year="{{ $year }}"
    class="anchor-button px-3 py-1 border border-[var(--color-border)] bg-passage-bg rounded-full text-sm text-[var(--color-description-font)]">
    {{ $year }}
  </button>
  {{ end }}
</nav>
{{ end }}

<div class="mt-5 flex flex-wrap gap-2">
  <button type="button" data-type="post"
    class="refine-button px-3 py-1 border border-[var(--color-border)] bg-passage-bg rounded-full text-sm text-[var(--color-description-font)]">
    Post</button>
  <button type="button" data-type="contribute"
    class="refine-button px-3 py-1 border border-[var(--color-border)] bg-passage-bg rounded-full text-sm text-[var(--color-description-font)]">
    Contribute</button>
  <button type="button" data-type="release"
    class="refine-button px-3 py-1 border border-[var(--color-border)] bg-passage-bg rounded-full text-sm text-[var(--color-description-font)]">
    Release</button>
</div>


{{ range $year := $sortedYears }}
<section id="year-{{ $year }}" class="article-list mt-10">
  <h3 class="text-2xl font-semibold mb-4">{{ $year }}</h3>
  <div class="posts relative border-l-2 border-[var(--color-border)] pl-6 space-y-6">
    {{ $yearPages := where $allPages "PublishDate.Year" $year }}
    {{ range $yearPages }}
    {{ partial "article-item.html" . }}
    {{ end }}
  </div>
</section>
{{ end }}

{{ end }}