@import "tailwindcss";

/* global */
* {
  @apply text-passage-font;
}

button {
  @apply cursor-pointer hover:opacity-70 transition-opacity duration-200;
}

button,
input,
select,
textarea,
a {
  @apply focus:outline-none focus:ring-2 focus:ring-[var(--color-ring)];
}

a {
  @apply hover:opacity-80 transition-colors duration-200;
}

dialog::backdrop {
  @apply bg-[var(--color-modal-drop)];
}

/* markdown-table-content */

.markdown-table-content {
  @apply rounded-2xl  p-4 mt-6 border border-[var(--color-border)];
}

.markdown-table-content aside {
  @apply space-y-2;
}

.markdown-table-content h2 {
  @apply text-lg font-semibold mb-2;
}

.markdown-table-content ul {
  @apply list-disc pl-5 space-y-1;
}

.markdown-table-content li a {
  @apply text-[var(--color-link)];
}

/* markdown-body */
.markdown-body.introduction {
  @apply border border-[var(--color-border)] rounded-2xl p-4;
}

.markdown-body h2 {
  @apply text-xl font-bold mt-6;
}

.markdown-body h3 {
  @apply text-lg font-bold mt-6;
}

.markdown-body a {
  @apply text-[var(--color-link)];
}

/* ベースの li スタイル */
.markdown-body ul li {
  @apply relative pl-4 list-none;
}

.markdown-body ul li::before {
  content: "・";
  @apply absolute left-0 text-[var(--color-passage-font)];
}

.markdown-body pre {
  @apply p-4 rounded-2xl overflow-x-auto font-mono break-words;
}

.markdown-body pre > * {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

.markdown-body p > code {
  @apply p-1 text-xs;
  /* 必要に応じて他のスタイルも追加できます */
}

.markdown-body p > code::before,
.markdown-body p > code::after {
  content: "'";
}

.markdown-body img {
  @apply rounded-2xl;
}

.markdown-body hr {
  @apply border-t border-[var(--color-border)];
}

.markdown-body > *:first-child {
  @apply mt-0;
}

.markdown-body > * {
  @apply mb-4;
}

.markdown-body > *:last-child {
  @apply mb-0;
}

.posts {
  @apply mt-6;
}
