{{ define "main" }}
<h1 class="text-2xl mb-4">Tag: {{ .Page.Title }}</h1>



{{ $tag := lower .Title }} <!-- 現在のタグ名（ページタイトル）を小文字に変換 -->

{{ $allPages := where .Site.RegularPages "Type" "in" (slice "posts" "contribute" "anotherType") }}

<!-- Params.tagsのタグを小文字に変換してからフィルタリング -->
{{ $filteredPages := where $allPages "Params.tags" "intersect" (slice $tag) }}



{{ if not $filteredPages }}
<p>指定されたタグの記事は見つかりませんでした。</p>
{{ else }}
{{ $allYears := slice }}
{{ range $filteredPages }}
{{ $y := .PublishDate.Year }}
{{ if not (in $allYears $y) }}
{{ $allYears = $allYears | append $y }}
{{ end }}
{{ end }}

{{ $sortedYears := sort $allYears "value" "desc" }}



{{ range $year := $sortedYears }}
<section id="year-{{ $year }}" class="mt-10">
  <h3 class="text-2xl font-semibold mb-4">{{ $year }}</h3>
  <div class="posts relative border-l-2 border-[var(--color-border)] pl-6 space-y-6">
    {{ $yearPages := where $filteredPages "PublishDate.Year" $year }}

    {{ range $yearPages }}
    {{ partial "article-item.html" . }}
    {{ end }}
  </div>
</section>
{{ end }}
{{ end }}
{{ end }}